.profile_pics{
  display: flex;
  width: 100vw;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.image{
  width: 100px;
  height: 100px;
  align-self: center;
  top: 20px;
  border-radius: 50%;

}

.container{
  display: flex;
  max-width: 100vw;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

#links{
  width: 1152px;
  height: 76px;
  background-color: #EAECF0;
  border: 1px solid  #EAECF0;
  color: black;
   
  }
  #links:hover{
    background-color:#d0d3d8;
  }
 footer{
  padding-top: 40px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
 }
.logo2{
  width: 200px;
  height: 40px;
  
}
.hnglogo3{
  padding-top: 20px;
}
@media screen and (max-width:1200px) {
  #links{ width: 900px;
          height: 56PX;
  }  
}
@media screen and(max-width: 1024) {
  #links{
    width: 600px;
    height: 46PX;
  }
}
@media screen and (max-width:760px) {
  #links{width: 400px;
  height: 36PX;}
  
}
@media screen and (max-width:480px) {
  #links{width:200px; height: 26PX}
  footer{display: none;}
}