
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 40px;
}
.profile{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#slack{display: none;}
.btn{
  width: 1152px;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #101828;
}
.btn:hover{background: #d7d9db;}
.links{
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#twitter{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
#logo{
  padding: 30px 0px 60px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}
#slack_logo, #git_logo{
  width: 24px;
  height: 24px;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#ingresive_logo{
  height: 32px;
  width: 132px;
}
#zuri_logo{
  height: 24px;
  width: 185px;
}
#footerWords{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #667085;
}

@media all and (max-width: 1200px) {
  .btn{
    width: 650px;
    height: 50px;
    font-size: 16px;
  }
  footer{
      width: 650px;
  }
}
@media all and (max-width: 1024px) {
  .btn{
    width: 450px;
    height: 40px;
    font-size: 14px;
  }
  footer{
      width: 450px;
  }
}
@media all and (max-width: 768px) {
  .btn{
    width: 300px;
    height: 40px;
    font-size: 14px;
  }
  footer{
      width: 300px;
  }
  #ingresive_logo{
      height: 28px;
      width: 100px;
    }
    #zuri_logo{
      height: 20px;
      width: 100px;
    }
    #footerWords{
      font-weight: 400;
      font-size: 12px;
    }
}
@media all and (max-width: 480px) {
  .btn{
    width: 200px;
    height: 30px;
    font-size: 12px;
  }
  footer{
      width: 200px;
      display: flex;
      flex-direction: column;
  }
  #ingresive_logo{
      height: 24px;
      width: 100px;
    }
    #zuri_logo{
      height: 20px;
      width: 100px;
    }
    #footerWords{
      font-weight: 400;
      font-size: 12px;
    }
  
  #twitter{
    font-weight: 400;
    font-size: 16px;
  }
}
.main{
  width: 720px;
  margin-bottom: 50px;
}
.heading>h1{
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -0.02em;
  color: #101828;
}
.heading > p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #475467;
}
#user__name{
  display: flex;
  width: 100%;
  gap: 24px;
  padding-bottom: 24px;
}
#name{
  margin-top: 48px;
  width: 348px;
  height: 70px;
}
#first_name, #last_name, #email{
  width: 100%; 
  height: 44px; 
  padding-top: 6px; 
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
#email{margin-bottom: 24px;}
#message{
  width: 100%;
  height: 132px;
  resize: none;
  padding-top: 6px;
  border: 1px solid #D0D5DD;
  margin-bottom: 24px;
}
#btn__submit{
  width: 100%;
  height: 48px;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 32px;
}
#labels{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #667085;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
form::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #475467;
}

@media all and (max-width: 1200px){
  .main{
      width: 600px;
  }

}
@media all and (max-width: 1024px){
  .main{
      width: 500px;
  }
  .heading>h1{font-size: 28px;}
  .heading>p{font-size: 18px;}
}
@media all and (max-width: 768px){
  .main{
      width: 400px;
  }
  .heading>h1{font-size: 24px;}
  .heading>p{font-size: 16px;}
}
@media all and (max-width: 480px){
  .main{
      width: 200px;
  }
  #user__name{
      flex-direction: column;
  }
  #name{
      width: 200px;
  }
  .heading>h1{font-size: 20px;}
  .heading>p{font-size: 14px;}
}